<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <script src="https://kit.fontawesome.com/9552adc6e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Detalle de Producto</title>
</head>
<body>
<!--------Header------------------->
<%- include("partials/header"); %>
    
    <!--------Detalle Del Producto------------------->
    
    
    <div class="contenedorDetalle">
        <div class= columnaI>
            <div class="contenedorFotos" >
                <img  id="fotoGrande" src=<%-producto.img%> alt="Notebook Asus Intel Core I5">
                <div class="contenedorFotosP"> 
                    <img  class="fotoPeque" src=<%-producto.img%> alt="Notebook Asus Intel Core I5">
                    <img  class="fotoPeque" src=<%-producto.img%> alt="Notebook Asus Intel Core I5">
                    <img  class="fotoPeque" src=<%-producto.img%> alt="Notebook Asus Intel Core I5">
                </div>
                </div>
            <div class="contenedorP">
                <h3 id="precio"><%-producto.precio%></h3>
            </div>
            <div class="contenedorP">
              <button class="agregarCarrito">Agregar al Carrito</button>
            </div>
        </div>

       
        <div class= columnaD>
            <div class="Producto">
                <h1><%-producto.titulo%></h1>
            </div>
            <div class="descripcion">
                <p><%-producto.descripcion%></p>
            </div>

        </div>

    </div>
    <!--------Footer------------------->

    <%- include("partials/footer"); %>
</body>