<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/CargaStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/9552adc6e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Formulario de Carga</title>
</head>    
<body>   
   
    <!--------Header------------------->
     <%- include("partials/header"); %>
  <!----------FORMULARIO-------------->
    <form method="POST"  action="/products/<%-producto.id%>?_method=PUT" enctype="multipart/form-data">

        <div class="contenedor-formulario">
            <div class="columnaI">
                <div>
                    <input  class="botonAdj" type="file" value="<%-producto.img%>"   name="imagen" id="adjuntarimagen">
                </div>
                <div>
                    <img  id="fotoGrande" src="<%-producto.img%>" alt="Notebook Asus Intel Core I5">
                </div>
                
            </div>
            <div class="columnaD">
            
                <p>
                    <input class= "itemsFormulario" placeholder="nombre" type="text" value="<%-producto.titulo%>"  name="nombre" id="nombre">
                </p>
                <p>
                    <textarea class= "itemsFormulario" placeholder="Descripcion" name="descripcion" id="descripcion"   rows="15" ><%-producto.descripcion%></textarea>
                </p>
                <div class="contenedorColPeque">
                    <div class="columnaP1">
                        <p>
                            <input class= "itemPeque"  placeholder="codigo" type=“text” name="codigo" value="<%-producto.codigo%>"  id=“codigo”>
                        </p>
                        <p>
                            <input class= "itemPeque"  placeholder="precio" type="number" value="<%-producto.precio%>" name="precio" id="precio">
                        </p>
                        <p>
                                <input class= "itemPeque"  placeholder="stock" value="<%-producto.stock%>" type="number" name="stock" id="stock">
                        </p>
                    </div>
                    <div class="columnaP2">
                        <p>
                            <button class= "itemPequeBoton" id="submit"  type="submit">Guardar</button>
                        </p>
                       
                    </div>
            
                </div>
             </div>
        </div>
       
    </form>    
    
      <!--------Footer------------------->
      <%- include("partials/footer"); %>
    
</body>
</html>