<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9552adc6e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productsStyles.css">
    <link rel="icon" type="image/png" href="/Imagenes/favicon.ico.ico">
    <title>Mega Red</title>
</head>
<body>
<!--------Header------------------->
<%- include("partials/header"); %>

<!--------products------------------->

<section class="container-novedades">
   <% if (user && user.admin === 1) {%>
   <article class="add">
      <a href="/products/create">
         <div>
            <i id=agregar class="fas fa-plus-circle"></i>
         </div>
      </a>
   </article>
   <%}%>
  
   <%for(product of productos){%>

      <article class="producto">
            <a href="/products/<%-product.id%>">
               <div class="photo-container">
                  <img class="photo" src="<%-product.img%>" alt="Notebook Asus Intel Core I5">
                  <div class="preventa-datos">
                     <h2>$<%-product.precio%></h2>
                  </div>
               </div>
               <p><%-product.name%></p>
            </a>
            <% if (user && user.admin === 1) {%>
            <div>
               <form method="POST"  action="/products/<%-product.id%>?_method=DELETE">
                  <button onclick="window.location.href='/products/<%-product.id%>/edit'" class="botonProduct" id="borrar">Borrar</button>
               </form>
               <button onclick="window.location.href='/products/<%-product.id%>/edit'" class="botonProduct" id="editar">Editar</button>
            </div>
            <%}%>
     </article>
  <% } %>

</section>

<%- include("partials/footer"); %>
    
</body>
</html>